@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
  --color-secondary: #a855f7;
  --color-background: #020617;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: var(--font-mono);
}
